<!DOCTYPE html>
<html>
<head>
<title>Complaint / Grievance</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Submit a Complaint</h1>

<form action="/grievance" method="post">

<label>Your Name:</label><br>
<input type="text" name="name"><br><br>

<label>Email:</label><br>
<input type="email" name="email"><br><br>

<label>Complaint:</label><br>
<textarea name="complaint" rows="5" cols="40"></textarea><br><br>

<button type="submit">Submit Complaint</button>

</form>

</body>
</html>